// variables
$dark-color: #232741;
$light-grey-color: #bfc0c8;
$light-color: #ffffff;
$ternary-color: #bbbbbb;
$dark-2-color: #333333;
$teal-color: #00d8ff;
$font-fallbacks: 'AvenirNextLTPro-Medium', 'Arial';
// $backgroundColor: #ED1E79;
// $backgroundColor: linear-gradient(to top right, #662D8C,  #ED1E79);
// $backgroundColor: linear-gradient(to top right, #662D8C,  #ED1E79);




// fonts,
@font-face {
    font-family: 'AvenirNextLTPro-Heavy';
    src: url('../fonts/AvenirNextLTPro-Heavy.otf');
    font-weight: 800;
}
@font-face {
    font-family: 'AvenirNextLTPro-Medium';
    src: url('../fonts/AvenirNextLTPro-Medium.otf');
    font-weight: 500;
}



// mixins

// functions


