{% extends 'core/base2.html' %} {% load static %} {% block dashboard_content %}
<h2>Your Posts</h2>
<!-- POst header -->
<section class="row justify-content-between align-items-center">
  <div class="col-sm-12 col-md-5">
    <div class="input-group mb-3">
      <input type="submit" value="search" class="border-0 p-2" />
      <!-- <div class="input-group-text">
          </div> -->
      <input type="text" class="form-control" placeholder="Search Post...." />
    </div>
  </div>
  <div class="col-sm-12 col-md-5 justify-content-end">
    <a href="{% url 'post:create_post' %}" class="btn btn-primary" type="submit"
      >Create Post</a
    >
  </div>
</section>

<!-- [Posts ] -->
<div class="row justify-content-center mt-5">
  {% for post in posts %}
  <div class="card mb-3">
    <img src="{{ post.image.url }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">{{ post.post_text }}</p>

      <div class="d-flex justify-content-between align-items-center">
        <p class="card-text">
          <small class="text-muted">{{ post.created_at }}</small>
        </p>
        <div>
            <a href="{% url 'post:delete_post' post.id %}">
                delete
              <i class="fa fa-bin text-danger"></i>
            </a>
            <a href="">
                edit
            </a>
        </div>
        </a>
      </div>
      
    </div>
  </div>
  {% empty %}
  <h3 class="text-muted text-center mt-4">You don't seem to have any posts</h3>
  {% endfor %}
</div>
{% endblock %}
