{% extends 'core/base.html' %} 
{% load static %} {% block title %}
<title>FRSC - Home</title>
{% endblock title %} 
{% block content %} 
{% include 'core/includes/top_nav.html'%}

<section class="info">
  <h1>Latest Notice</h1>

  <section class="info-content">
    {% for notice in notices %}
    <div class="info-card">
      <!-- ------------------[ LHS ]-------------- -->
      <div class="lhs">
        <div class="lhs-content">
          <h2>{{ notice.title }}</h2>
          <span class="underline"></span>

          <p class="info-desc">
            {{ notice.description }}
          </p>
          <span class="info-location">Location: {{ notice.location }}</span>
          <a href="" class="info-link">Learn More</a>
        </div>
      </div>

      <!-- ------------------[ RHS ]-------------- -->
      <div class="rhs">
        <div class="info-image">
          <img src="{{ notice.image.url }}" alt="" />
        </div>
      </div>
    </div>
    {% empty %}
      <h1>No notice found </h1>
    {% endfor %}
  </section>
</section>

{% endblock content %}
