{% load static %}
<nav class="dashboard-nav">
  <div>
    <!-- logo -->
    <div class="nav-logo">
      <img src="{% static 'images/fire.png' %}" alt="" id="nav-logo" />
    </div>

    <!-- greeting text -->
    <div class="greeting-text">
      {% if user.is_authenticated %}
      <h4>Hi, {{ user.first_name|title }} {{ user.last_name|title }}</h4>
      {% endif %}
    </div>
  </div>
  <div>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'dashboard' %}">Dashboard</a>
  </div>
</nav>
